// listCollapse101
// ==================================================/
.listCollapse101 {
  li {
    @extend %display--none;
  }

  label:after {
    padding-left: 24px;
  }

  label:after{
  @extend %display--inline-block;
  content:"v";
  }

  label {
    @extend %display--block;
    background-color: #666;
    color: #fff;
    cursor:pointer; 
  }

  input[type="checkbox"]{
    @extend %pos--absolute;
    visibility: hidden;
  }

  #listCollapse101--toggle:checked ~ li {  
    @extend %display--block;
  }

  #listCollapse101--toggle:checked ~ label:after{
      @extend %display--inline-block;
      content: "^";
    }
}